<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Sobre Nós - W3c Telecom</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="/assets/img/letra-w.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="about-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/Templates/index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/assets/img/logo.png" alt=""> -->
        <h1 class="sitename">SpeedLogistics</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="index.html">Início<br></a></li>
          <li><a href="about.html" class="active">Sobre Nós</a></li>
          <li><a href="contact.html">Contato</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="get-a-quote.html">Acessar</a>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(/assets/img/page-title-bg.jpg);">
      <div class="container position-relative">
        <h1>Sobre Nós</h1>
        <p></p>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Início</a></li>
            <li class="current">Sobre Nós</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first" data-aos="fade-up" data-aos-delay="200">
            <img src="/assets/img/about1 (1).png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 content order-last  order-lg-first" data-aos="fade-up" data-aos-delay="100">
            <h3>Sobre Nós
            </h3>
            <p>
              Na W3C Telecom, nossa missão é oferecer soluções de internet de alta velocidade e confiabilidade, atendendo às suas necessidades de conexão com precisão e agilidade. Desde 2009, estamos comprometidos em fornecer serviços excepcionais, superando suas expectativas e garantindo uma experiência de navegação sem interrupções.
            </p>
            <ul>
              <li>
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5>Compromisso com a Qualidade
                  </h5>
                  <p>Nosso foco é proporcionar um serviço de internet de alta qualidade, com uma abordagem que combina tecnologia de ponta e inovação. Utilizamos as melhores práticas e equipamentos avançados para garantir que sua conexão seja rápida, estável e eficiente, entregando a máxima performance em todos os momentos.
                  </p>
                </div>
              </li>
              <li>
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>Experiência e Dedicação</h5>
                  <p>Nossa equipe é formada por profissionais experientes e dedicados, prontos para enfrentar qualquer desafio no mundo da conectividade. Trabalhamos incansavelmente para assegurar que você tenha acesso a uma internet confiável e de alta velocidade, seja para sua casa ou empresa, com suporte técnico especializado sempre à disposição.
                  </p>
                </div>
              </li>
              <li>
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>Soluções Personalizadas</h5>
                  <p>Entendemos que cada cliente tem necessidades únicas, e por isso oferecemos soluções de internet personalizadas para atender suas demandas específicas. Na W3C Telecom, sua satisfação é nossa prioridade, garantindo serviços sob medida para você e sua família.</p>
                </div>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="305" data-purecounter-duration="1" class="purecounter"></span>
              <p>Clientes</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
              <p>Cidades</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span>24h</span>
              <p>Horas de suporte</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1" class="purecounter"></span>
              <p>Equipe</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section dark-background">

      <img src="/assets/img/testimonials-bg.jpg" class="testimonials-bg" alt="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Edvaldo Gomes</h3>
                <h4>Cliente</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Serviço de excelente qualidade! A internet é rápida e estável, e o suporte técnico é sempre muito atencioso e eficiente. Super recomendo!</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Gustavo Oliveira</h3>
                <h4>Cliente</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Melhor provedor da região! O serviço de internet é impecável e o atendimento ao cliente é rápido e eficaz. Estou muito satisfeito.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>Felipe Alves</h3>
                <h4>Cliente</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>A qualidade do serviço é incrível! Tenho uma conexão rápida e estável o tempo todo. O atendimento também é excelente, sempre me ajudam prontamente.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
            
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Perguntas frequentes</span>
        <h2>Perguntas frequentes</h2>
        <p>Suas necessidades resultam de algo do qual ele deseja escapar</p>
      </div>
      <!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-10">

            <div class="faq-container">

              <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>Como faço para contratar o serviço de internet?</h3>
                <div class="faq-content">
                  <p>Para contratar nosso serviço, basta entrar em contato pelo nosso site ou telefone e escolher o plano que melhor se adapta às suas necessidades. Nossa equipe estará à disposição para orientá-lo.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>Qual é a cobertura de internet em minha área?</h3>
                <div class="faq-content">
                  <p>A cobertura varia de acordo com a localização. Para verificar se a nossa internet está disponível na sua região, entre em contato conosco com seu CEP e faremos uma verificação.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item" data-aos="fade-up" data-aos-delay="400">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>O que fazer se minha conexão estiver lenta ou instável?</h3>
                <div class="faq-content">
                  <p>Caso sua conexão esteja lenta ou instável, recomendamos que você reinicie o modem e verifique se os cabos estão conectados corretamente. Se o problema persistir, entre em contato com nosso suporte técnico para que possamos ajudá-lo.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item" data-aos="fade-up" data-aos-delay="500">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>Como posso alterar meu plano de internet?</h3>
                <div class="faq-content">
                  <p>Para alterar o seu plano, basta entrar em contato com nosso atendimento ao cliente. Nós iremos ajudá-lo a escolher a melhor opção de acordo com o seu uso e necessidade.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item" data-aos="fade-up" data-aos-delay="600">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>Posso instalar a internet em mais de um endereço?</h3>
                <div class="faq-content">
                  <p>Sim, é possível contratar mais de um ponto de internet para diferentes endereços. Basta solicitar ao nosso atendimento para que possamos oferecer o melhor serviço para você.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div>

        </div>

      </div>

    </section>
    
    <!-- /Faq Section -->

  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">W3cTelecom</span>
          </a>
          <p>Na W3C Telecom, nossa missão é oferecer soluções de internet de alta velocidade e confiabilidade, atendendo às suas necessidades de conexão com precisão e agilidade. Desde 2009, estamos comprometidos em fornecer serviços excepcionais, superando suas expectativas e garantindo uma experiência de navegação sem interrupções.</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Links úteis</h4>
          <ul>
            <li><a href="#">Início</a></li>
            <li><a href="about.html">Sobre Nós</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Serviços</h4>
          <ul>
            <li><a href="index.html">Planos</a></li>
            <li><a href="#">Consultoria</a></li>
            <li><a href="#">Suporte 24hrs</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contato</h4>
          <p>Rua Olimpio</p>
          <p>Nova Descoberta, 52190-320</p>
          <p>Brasil</p>
          <p class="mt-4"><strong>Phone:</strong> <span>(81)98735-3896</span></p>
          <p><strong>Email:</strong> <span>w3ctelecom@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">W3cTelecom</strong> <span>All Rights Reserved</span></p>
      <div class="credits">        
        Designed by <a href="https://bootstrapmade.com/">Afonso</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>