<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chamados</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Meus Chamados</h1>
        <div class="grid-container" id="chamadoslist">
            <!-- Aqui dentro vão as divs dos chamados -->
        </div>
        <button id="logoutButton">Logout</button>
    </div>
    <script src="/assets/js/app.js"></script>
</body>
</html>
