<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form id="loginForm">
            <input type="text" id="email" placeholder="Email" required>
            <input type="senha" id="senha" placeholder="Senha" required>
            <button type="submit">Login</button>
        </form>
        <p id="errorMessage" class="error-message"></p>
    </div>
    <script src="/assets/js/app.js"></script>
    
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js')
            .then(() => console.log('Service Worker registrado com sucesso.'))
            .catch((error) => console.log('Falha ao registrar o Service Worker:', error));
        }
    </script>
</body>
</html>
